*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
ASPNetScape/Properties/PublishProfiles/FolderProfile.pubxml
NetScape.Modules.Messages/Generated/
Contracts
data/rejectedtokens.json
data/rejectedtokens.json.000
data/rejectedtokens.json.001
data/rejectedtokens.json.002
data/rejectedtokens.json.006
data/smartcontracts.json
data/smartcontracts.json.000
data/smartcontracts.json.001
data/smartcontracts.json.002
data/smartcontracts.json.004
data/smartcontracts.json.005
data/smartcontracts.json.006
data/Sniper.log
data/Sniper.log.000
data/Sniper.log.006
goodtokens.json
rejectedtokens.json
smartcontracts.json
tokens.json
Sniper.log
